.login-form {
    padding: 2%;
    margin: 0 auto;
    width: 25%;
    border: 1px solid #2766ca;
    background-color: #f7f7f7;
    margin-top: 12%;
}
.form-group label{
    font-size: 1.5vw;
    color: #000;
    display: block;
    margin: 2% 0;
}
.form-control {
    margin: 2% 0;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #000;
    font-size: 1vw;
    display: block;
    padding: 1%;
    width: 60%;
}
.btn {
    border: 1px solid #2766ca;
    padding: 1%;
    border-radius: 5px;
    background: #d3d3d3;
    color: #000;
    font-size: 1vw;
    margin-top: 2%;
}
.btn-login {
    position: relative;
    left: 20%;
    padding: 2%;
    width: 25%;
}
.alert-error {
    color: red;
    font-size: 1vw;
    margin: 2% 0;
}